In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings(action='ignore')

# 데이터 읽어오기

In [2]:
df = pd.read_csv('../data/train.csv')
df.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0
3,2016-02-04,목,2601,104,220,355,0.0,"모닝롤/토마토샌드 우유/두유/주스 계란후라이 닭죽/쌀밥 (쌀,닭:국내산) 근대국...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0
4,2016-02-05,금,2601,278,181,34,0.0,모닝롤/와플 우유/두유/주스 계란후라이 쇠고기죽/쌀밥 (쌀:국내산) 재첩국 방...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0

In [3]:
import os

if os.name == 'posix':
    plt.rc('font', family='NanumGothic')
else:
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False)

In [4]:
df.columns = ['date','day','numbers','dayoff','work','outsidework','workfhome','break','lunch','dinner','lunch_t','dinner_t']
df.head(2)

,date,day,numbers,dayoff,work,outsidework,workfhome,break,lunch,dinner,lunch_t,dinner_t
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0

# 날짜 포멧 바꾸기

In [5]:
def change_dataframe(df):
    df['date'] = pd.to_datetime(df['date'])
    df['date'] = df['date'].dt.strftime('%m%d')
    df['Month'] = df['date'].str[0:2]
    df['Date'] = df['date'].str[2:]
    df.drop(['date','break'], inplace=True , axis=1)

In [6]:
change_dataframe(df)

In [7]:
df.head(2)

,day,numbers,dayoff,work,outsidework,workfhome,lunch,dinner,lunch_t,dinner_t,Month,Date
0,월,2601,50,150,238,0.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0,02,01
1,화,2601,50,173,319,0.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0,02,02

# 식사 메뉴 문자열 전처리 
- 괄호 및 꺾쇠 안의 문자 제거
- 쌀밥은 밥으로 통일
- 자기개발의 날 같은 석식 없는 날은 None으로 대체
- 밥, 국, 메인메뉴만 남김
- 범주형 항목들 카테고리화

In [8]:
import re

def get_menu_list(df, time='lunch'):
    menu_list = []
    for day in range(len(df)):
        menu = re.sub(r'\([^)]*\)', '', df.loc[day, time])
        menu = re.sub(r'\<[^)]*\>', '', menu)
        menu = menu.split()

        if menu and '쌀밥' in menu[0]: 
            menu[0] = '밥'

        if len(menu) <= 3:
            menu = ['None', 'None', 'None']
            
        menu_list.append(menu) 
    
    return list(zip(*menu_list))[:3]

In [9]:
lunch_meal, lunch_soup, lunch_main = get_menu_list(df, 'lunch')
dinner_meal, dinner_soup, dinner_main = get_menu_list(df, 'dinner')

In [10]:
df['lmeal'], df['lsoup'], df['lmain'] = lunch_meal, lunch_soup, lunch_main
df['dmeal'], df['dsoup'], df['dmain'] = dinner_meal, dinner_soup, dinner_main

In [11]:
df.head(1)

,day,numbers,dayoff,work,outsidework,workfhome,lunch,dinner,lunch_t,dinner_t,Month,Date,lmeal,lsoup,lmain,dmeal,dsoup,dmain
0,월,2601,50,150,238,0.0,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0,02,01,밥,오징어찌개,쇠불고기,밥,육개장,자반고등어구이

In [12]:
df = df[['day', 'numbers', 'dayoff', 'work', 'outsidework', 'workfhome', 'lunch_t', 'dinner_t', 'Month', 'Date', 'lmeal', 'lsoup', 'lmain', 'dmeal', 'dsoup', 'dmain']]

In [13]:
df['day'] = df['day'].astype('category').cat.codes
df['lmeal'] = df['lmeal'].astype('category').cat.codes
df['lsoup'] = df['lsoup'].astype('category').cat.codes
df['lmain'] = df['lmain'].astype('category').cat.codes
df['day'] = df['day'].astype('category').cat.codes
df['dmeal'] = df['dmeal'].astype('category').cat.codes
df['dsoup'] = df['dsoup'].astype('category').cat.codes
df['dmain'] = df['dmain'].astype('category').cat.codes
df['present'] = df['numbers'] - df['dayoff'] - df['work'] - df['outsidework']

In [14]:
df.head()

,day,numbers,dayoff,work,outsidework,workfhome,lunch_t,dinner_t,Month,Date,lmeal,lsoup,lmain,dmeal,dsoup,dmain,present
0,3,2601,50,150,238,0.0,1039.0,331.0,02,01,22,186,230,37,221,338,2163
1,4,2601,50,173,319,0.0,867.0,560.0,02,02,22,27,5,103,179,332,2059
2,2,2601,56,180,111,0.0,1017.0,573.0,02,03,50,247,325,37,242,429,2254
3,1,2601,104,220,355,0.0,978.0,525.0,02,04,22,148,303,35,210,167,1922
4,0,2601,278,181,34,0.0,925.0,330.0,02,05,22,74,102,37,238,87,2108

In [15]:
df.to_csv('../data/origin.csv')

# 모델

In [16]:
X = df[['day', 'numbers', 'dayoff', 'work', 'outsidework', 'workfhome', 'Month', 'Date', 'lmeal', 'lsoup', 'lmain']]
y = df['lunch_t']

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# param_grid = {
#     'n_estimators': [100, 300, 600],
#     'max_depth': [2, 4, 6],
#     'colsample_bytree':[0.5, 0.7, 1],
#     'colsample_bylevel':[0.5, 0.7, 1],
# }

lr = LinearRegression()
lasso = Lasso()
ridge = Ridge()
en = ElasticNet()

x_train, x_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42)

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

models = [lr, lasso, ridge, en]

# for model in models:
#     grid_search = GridSearchCV(estimator=model, 
#                                 param_grid=param_grid, 
#                                 scoring='neg_mean_squared_error',
#                                 cv=10, 
#                                 n_jobs=-1,)
#     grid_search.fit(x_train_scaled, y_train)
#     print(f'best params of {model.__class__.__name__} : {grid_search.best_params_}')

In [19]:
for model in models:
    model.fit(x_train_scaled, y_train)
    pred_y = model.predict(x_test_scaled)
    model_name = model.__class__.__name__
    print(f"{model_name} MAE :{mean_absolute_error(y_test, pred_y) ** 0.5}")
    print(f"{model_name} MSE :{mean_squared_error(y_test, pred_y) ** 0.5}")
    print(f"{model_name} R2 :{r2_score(y_test, pred_y)}")

LinearRegression MAE :10.032105379163104
LinearRegression MSE :128.5577269461303
LinearRegression R2 :0.6098500268999534
Lasso MAE :10.0162000463317
Lasso MSE :128.21793974919177
Lasso R2 :0.6119096895218573
Ridge MAE :10.031699067853904
Ridge MSE :128.54700407983418
Ridge R2 :0.609915108192608
ElasticNet MAE :10.409901374164233
ElasticNet MSE :135.95760554639168
ElasticNet R2 :0.5636427200278231